.page-reference {
	position: fixed;
	right: 24px;
	display: flex;
	flex-direction: column;
	top: 50%;
	transform: translateY(-50%);
}

.page-reference > .page-reference-anchor:nth-child(n + 2) {
	margin-top: 8px;
}

.page-reference-anchor {
	border: 1px solid black;
	border-radius: 50%;
	height: 8px;
	width: 8px;
}
