html {
    font-family: "Times New Roman";
}

body {
    background-color: rgb(248,239,237);
    margin: 0px;
}

.container {
    position: relative;
    text-align: center;
}
.rectangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 50vw 0 50vw;
    border-color: rgb(234,200,190);
}

.resume {
    position: absolute;
    top: 20px;
    left: 42vw;
    color: rgb(190, 109, 84);
    font-size: 64px;
    text-align: center;
}

.overview {
    color: rgb(190, 109, 84);
    font-size: 40px;
    text-align: center;
    font-family: Georgia;
}

.container2 {
    background-color: rgb(234,200,190);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.educationalhistory {
    color: rgb(190, 109, 84);
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    font-family: Georgia;
}


.description {
    color: rgb(224, 147, 123);
    margin-right: 325px;
    margin-left: 325px;
    line-height: 30px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;
}

.container3 {
    position:  relative;
}

.coralsprings {
    font-size: 40px;
    color: rgb(224, 147, 123);
    text-align: center;
    padding: 10px;
    font-family: Georgia;
}

.info {
    font-size: 18px;
    color: rgb(224, 147, 123);
    line-height: 30px;
    margin-top: -6px;
}

.relevant-ap-aice-and-honors-classes {
    color: rgb(224, 147, 123);
    opacity: 1;
    border: none;
    border-radius: 25px;
    height: 40px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(224, 147, 123); 
    color: white;
    font-family: Georgia;
    margin-bottom: 10px;
}

.relevant-ap-aice-and-honors-classes:hover {
    color: white;
    background-color: rgb(248,239,237);
    opacity: 1;
}

.curvedrectangle,.curvedrectangle2,.curvedrectangle3 {
    display:  flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.container4 {
    position: relative;
}

.northbroward {
    font-size: 40px;
    font-family: Georgia;
    color: rgb(224, 147, 123);
    text-align: center;
    padding: 10px;
}

.info2 {
    font-size: 18px;
    color: rgb(224, 147, 123);
    line-height: 30px;
    margin-top: -6px;
}

.relevant-dual-enrollment-classes {
    color: rgb(224, 147, 123);
    opacity: 1;
    border: none;
    border-radius: 25px;
    height: 40px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(224, 147, 123); 
    color: white;
    font-family: Georgia;
    margin-bottom: 10px;
}

.relevant-dual-enrollment-classes:hover {
    color: white;
    background-color: rgb(248,239,237);
    opacity: 1;
}

.vassarcollege {
    font-size: 40px;
    color: rgb(224, 147, 123);
    text-align:  center;
    font-family: Georgia;
}

.info3 {
    font-size: 18px;
    color: rgb(224, 147, 123);
    line-height: 30px;
    margin-top: -6px;
}

.relevant-vassar-classes {
    color: rgb(224, 147, 123);
    opacity: 1;
    border: none;
    border-radius: 25px;
    height: 40px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(224, 147, 123); 
    color: white;
    font-family: Georgia;
    margin-bottom: 10px;
}

.relevant-vassar-classes:hover {
    color: white;
    background-color: rgb(248,239,237);
    opacity: 1;
}

.container6 {
    position: relative;
}

.extracurriculars {
    text-align: center;
    color: rgb(190, 109, 84);
    font-size: 40px;
    font-family: Georgia;
}

.row2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
    margin-top: -10px;
}

.keyclubrectangle, .keyclubrectangle2 {
    display:  flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.container7 {
    position: relative;
}

.keyclubrectangle {
    width: 250px;
    background-color: rgb(237,212,204);
    margin-top: 30px;
}

.keyclub {
    font-family: Georgia;
    color: whitesmoke;
    margin-top: 90px;
}

.keyclubdate {
    font-family: Georgia;
    color: whitesmoke;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.keyclubrectangle2 {
    width: 350px;
    background-color: rgb(234,200,190);
    margin-top: 30px;
}

.keyclubinfo {
    font-family: Georgia;
    color: whitesmoke;
    line-height: 30px;
    margin-top: 15px;
    margin-right: 20px;

}

.row3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
}

.internationalclubrectangle, .internationalclubrectangle2 {
    display:  flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.internationalclubrectangle {
    width: 250px;
    margin-top: 0px;
    background-color:rgb(226,196,188);
}
.internationalclubrectangle2 {
    width: 350px;
    background-color: rgb(219,182,171);
    margin-top: 0px;
}

.internationalclub {
    font-family: Georgia;
    color: whitesmoke;
    text-align: center;
    font-size: 90;
    margin-top: 75px;
}

.internationalclubdate {
    font-family: Georgia;
    color: whitesmoke;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;

}
.internationalclubinfo {
    font-family: Georgia;
    color: whitesmoke;
    line-height: 30px;
    margin-top: 30px;
    margin-right: 20px;
}

.row4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sgaclubrectangle, .sgaclubrectangle2 {
    display:  flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.sgaclubrectangle {
    width: 250px;
    margin-top: 0px;
    background-color:rgb(218,181,170);
}
.sgaclubrectangle2 {
    width: 350px;
    background-color: rgb(207,162,149);
    margin-top: 0px;
}

.sgaclub {
    font-family: Georgia;
    color: whitesmoke;
    text-align: center;
    font-size: 90;
    margin-top: 40px;
}

.sgaclubdate {
    font-family: Georgia;
    color: whitesmoke;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
}

.sgaclubinfo {
    font-family: Georgia;
    color: whitesmoke;
    line-height: 30px;
    margin-top: 60px;
    margin-right: 20px;